# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [100]:
import numpy as np
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
insurance_df = pd.read_csv(url)

#Identify the dimensions of the dataset by determining the number of rows and columns it contains.
insurance_df.shape #gives nr of rows and columns

(4008, 11)

In [92]:
#Determine the data types of each column
insurance_df.dtypes

Customer                     int32
ST                           int32
GENDER                       int32
Education                    int32
Customer Lifetime Value      int32
Income                       int32
Monthly Premium Auto         int32
Number of Open Complaints    int32
Policy Type                  int32
Vehicle Class                int32
Total Claim Amount           int32
dtype: object

In [94]:
#Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable.
#You should also provide suggestions for fixing any incorrect data types.

insurance_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   0 non-null      int32
 1   ST                         0 non-null      int32
 2   GENDER                     0 non-null      int32
 3   Education                  0 non-null      int32
 4   Customer Lifetime Value    0 non-null      int32
 5   Income                     0 non-null      int32
 6   Monthly Premium Auto       0 non-null      int32
 7   Number of Open Complaints  0 non-null      int32
 8   Policy Type                0 non-null      int32
 9   Vehicle Class              0 non-null      int32
 10  Total Claim Amount         0 non-null      int32
dtypes: int32(11)
memory usage: 0.0 bytes

In [96]:
#identify the number of unique values 
insurance_df.nunique()

Customer                     0
ST                           0
GENDER                       0
Education                    0
Customer Lifetime Value      0
Income                       0
Monthly Premium Auto         0
Number of Open Complaints    0
Policy Type                  0
Vehicle Class                0
Total Claim Amount           0
dtype: int64

In [102]:
#determine which columns appear to be categorical

df = pd.DataFrame(insurance_df)

def find_categorical_columns(df):
    categorical_columns = df.select_dtypes(include=['object','category']).columns.tolist()
    return categorical_columns

categorical_columns = find_categorical_columns(df)
print("Categorical columns:", categorical_columns)

Categorical columns: ['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class']

In [104]:
#describe the unique values of each categorical column
print(insurance_df['Customer'].describe())

count        1071
unique       1071
top       RB50392
freq            1
Name: Customer, dtype: object

In [106]:
print(insurance_df['ST'].describe())

count       1071
unique         8
top       Oregon
freq         320
Name: ST, dtype: object

In [108]:
print(insurance_df['GENDER'].describe())

count     954
unique      5
top         F
freq      457
Name: GENDER, dtype: object

In [110]:
print(insurance_df['Education'].describe())

count         1071
unique           6
top       Bachelor
freq           324
Name: Education, dtype: object

In [112]:
print(insurance_df['Customer Lifetime Value'].describe())

count           1068
unique          1027
top       445811.34%
freq               4
Name: Customer Lifetime Value, dtype: object

In [114]:
print(insurance_df['Number of Open Complaints'].describe())

count       1071
unique         6
top       1/0/00
freq         830
Name: Number of Open Complaints, dtype: object

In [116]:
print(insurance_df['Policy Type'].describe())

count              1071
unique                3
top       Personal Auto
freq                780
Name: Policy Type, dtype: object

In [118]:
print(insurance_df['Vehicle Class'].describe())

count              1071
unique                6
top       Four-Door Car
freq                576
Name: Vehicle Class, dtype: object

In [120]:
#describe the range of values for numerical columns
desc = insurance_df.describe()
range_values = desc.loc['max'] - desc.loc['min']

summary = pd.DataFrame({
    'Min': desc.loc['min'],
    'Max': desc.loc['max'],
    'Range': range_values
})
print(summary)

                            Min           Max         Range
Income                 0.000000  99960.000000  99960.000000
Monthly Premium Auto  61.000000  35354.000000  35293.000000
Total Claim Amount     0.382107   2893.239678   2892.857571

In [122]:
insurance_df.select_dtypes(include='number').head()

    Income  Monthly Premium Auto  Total Claim Amount
0      0.0                1000.0            2.704934
1      0.0                  94.0         1131.464935
2  48767.0                 108.0          566.472247
3      0.0                 106.0          529.881344
4  36357.0                  68.0           17.269323

In [124]:
#Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns.
#You should also provide your conclusions based on these summary statistics.

In [126]:
df = pd.DataFrame(insurance_df)

numerical_df = df.select_dtypes(include=[np.number])

print(numerical_df)

       Income  Monthly Premium Auto  Total Claim Amount
0         0.0                1000.0            2.704934
1         0.0                  94.0         1131.464935
2     48767.0                 108.0          566.472247
3         0.0                 106.0          529.881344
4     36357.0                  68.0           17.269323
...       ...                   ...                 ...
4003      NaN                   NaN                 NaN
4004      NaN                   NaN                 NaN
4005      NaN                   NaN                 NaN
4006      NaN                   NaN                 NaN
4007      NaN                   NaN                 NaN

[4008 rows x 3 columns]

In [128]:
mean_values = numerical_df.mean()
print("Mean of numerical columns:")
print(mean_values)

Mean of numerical columns:
Income                  39295.701214
Monthly Premium Auto      193.234360
Total Claim Amount        404.986909
dtype: float64

In [130]:
median_values = numerical_df.median()
print(median_values)

Income                  36234.000000
Monthly Premium Auto       83.000000
Total Claim Amount        354.729129
dtype: float64

In [132]:
mode_values = numerical_df.mode().iloc[0]
print(mode_values)

Income                    0.0
Monthly Premium Auto     65.0
Total Claim Amount      321.6
Name: 0, dtype: float64

In [134]:
std_dev_values = numerical_df.std()
print(std_dev_values)

Income                  30469.427060
Monthly Premium Auto     1601.190369
Total Claim Amount        293.027260
dtype: float64

In [136]:
quartiles = numerical_df.quantile([0.25, 0.5, 0.75])
print(quartiles)

       Income  Monthly Premium Auto  Total Claim Amount
0.25  14072.0                  68.0          202.157702
0.50  36234.0                  83.0          354.729129
0.75  64631.0                 109.5          532.800000

In [138]:
#Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

categorical_df = df.select_dtypes(include=['object', 'category'])
summary_stats = categorical_df.describe()

print("Summary statistics for categorical columns:")
print(summary_stats)

Summary statistics for categorical columns:
       Customer      ST GENDER Education Customer Lifetime Value  \
count      1071    1071    954      1071                    1068
unique     1071       8      5         6                    1027
top     RB50392  Oregon      F  Bachelor              445811.34%
freq          1     320    457       324                       4

       Number of Open Complaints    Policy Type  Vehicle Class
count                       1071           1071           1071
unique                         6              3              6
top                       1/0/00  Personal Auto  Four-Door Car
freq                         830            780            576

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [142]:
#Create a pandas Series object that contains the customer locations and their frequencies
insurance_df['ST'].value_counts()

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [146]:
#Retrieve the top 5 less common locations in ascending order.
insurance_df.groupby('ST')['Customer'].nunique().sort_values(ascending=True)[-5:]

ST
Nevada         98
Cali          120
Arizona       186
California    211
Oregon        320
Name: Customer, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [156]:
#Create a pandas Series object that contains the policy types and their total number of policies sold
#Retrieve the policy type with the highest number of policies sold.

policy_counts = insurance_df['Policy Type'].value_counts()
max_value = insurance_df['Policy Type'].value_counts().max()
most_common_policy_type = policy_counts.idxmax()

print(most_common_policy_type,":", max_value)

Personal Auto : 780

In [31]:
# Your code here

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [158]:
personal_auto_df = df.loc[df['Policy Type'] == 'Personal Auto']
corporate_auto_df = df.loc[df['Policy Type'] == 'Corporate Auto']

# Calculate the average income for each policy type
personal_auto_avg_income = personal_auto_df['Income'].mean()
corporate_auto_avg_income = corporate_auto_df['Income'].mean()

# Print the results
print(f"Average income for Personal Auto: ${personal_auto_avg_income:.2f}")
print(f"Average income for Corporate Auto: ${corporate_auto_avg_income:.2f}")

Average income for Personal Auto: $38180.70
Average income for Corporate Auto: $41390.31

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [39]:
# Your code here